.gradle
/build
/captures
.externalNativeBuild
.cxx
*.iml
/local.properties
.idea/
.idea/*
!.idea/gradle.xml
!.idea/misc.xml
!.idea/deploymentTargetDropDown.xml
.kotlin
/.kotlin
.DS_Store
Thumbs.db
*.hprof
*.keystore